<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Контакты ИКНТ</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
<div th:replace="~{fragments/header :: header}"></div>

<main>
  <div class="contacts-main">
  <section>
    <h1>Контакты</h1>
    <p><strong>Email:</strong> <a href="mailto:iknt@psu.ru">iknt@psu.ru</a></p>
    <p><strong>Телефон:</strong> +7 (342) 2-396-222</p>
    <p><strong>Адрес:</strong> г. Пермь, ул. Букирева, д.15</p>
  </section>

  <section>
    <h2>По вопросам поступления</h2>
    <p><strong>Телефон:</strong> +7 (342) 239-67-20</p>
    <p><strong>Телеграм-канал для абитуриентов:</strong> <a href="https://t.me/+oxt4X9YQIbszYmNi" target="_blank">@iknt_psu</a></p>
  </section>
  </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>