<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Преподаватели ИКНТ</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrapper">
<div th:replace="~{fragments/header :: header}"></div>

<main class="container">
    <h1>Преподаватели</h1>
    <div class="professor-grid">
        <div class="professor-card" th:each="professor : ${professors}">
            <img th:src="@{/images/{img}(img=${professor.image})}" alt="Фото преподавателя">
            <div class="professor-info">
                <h3 th:text="${professor.fullName}">Имя</h3>
                <p th:text="${professor.position}">Должность</p>
            </div>
        </div>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>