<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="ПГНИУ" class="logo-img">
                ИНСТИТУТ<br>КОМПЬЮТЕРНЫХ<br>НАУК И ТЕХНОЛОГИЙ
            </a>
            <ul class="nav-links">
                <li><a href="/">Общая информация</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/professors">Преподаватели</a></li>
                <li><a href="/contacts">Контакты</a></li>
            </ul>
        </div>
    </nav>
</header>