<section th:fragment="content" class="contacts">
<h2>Наши контакты</h2>
  <p>
    <strong>Адрес:</strong> Москва, ул. Танковая, д. 5
  </p>
  <p>
    <strong>Телефон:</strong> <a href="tel:+74951234567">+7 (495) 123-45-67</a>
  </p>
  <p>
    <strong>Email:</strong> <a href="mailto:info@wotpremium.ru">info@wotpremium.ru</a>
  </p>
  <p>
    <strong>График работы:</strong> Пн-Вс, 10:00 - 22:00
  </p>
  <p>
    <strong>Мы в соцсетях:</strong> <a href="#">VK</a> | <a href="#">Telegram</a> | <a href="#">YouTube</a>
  </p>
</section>