<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Панель администратора</h1>
    <nav>
        <ul>
            <li><a href="/admin/products">Товары</a></li>
            <li><a href="/admin/orders">Заказы</a></li>
            <li><a href="/admin/news">Новости</a></li>
            <li><a href="/logout">Выйти</a></li>
        </ul>
    </nav>
</header>
<h1 class="admin-h1">Добро пожаловать на панель администратора!</h1>
</body>
</html>
