<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование новости</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="admin-form-wrapper">
    <h1>Редактировать новость</h1>
    <form th:action="@{/admin/news/edit}" th:object="${news}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label>Заголовок:</label>
        <input type="text" th:field="*{title}" required />

        <label>Краткое описание:</label>
        <textarea th:field="*{content}" required></textarea>

        <label>Изображение (Имя):</label>
        <input type="text" th:field="*{image}" required />

        <label>Дата:</label>
        <input type="date" th:name="date"
               th:value="${#temporals.format(news.date, 'yyyy-MM-dd')}" required />

        <div class="form-buttons">
            <button type="submit">Сохранить</button>
            <a href="/admin/news" class="btn-back">Назад</a>
        </div>
    </form>
</main>

</body>
</html>